# This workflow will run tests and linters with PyTest using Python 3.11
# For more information see: https://docs.github.com/en/actions/about-github-actions

name: Run tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      # Set Python version
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      # Install tools
      - name: Install tools
        run: |
          python -m pip install --upgrade pip
          pip install black flake8 pylint pytest pytest-cov
        
      # Run linters and formatters
      - name: Linters and formatters
        run: |
          black --check .
          flake8 .
          pylint .

      # Run unit tests with PyTest
      - name: Run unit tests
        run: pytest -vv